.navigation-menu {
    width: 100vw;
    height: 100vh;
    display:grid;
    align-items: center;
    justify-content: space-around;
    background-image: url("train-trees-steam-locomotive-steam-wallpaper.jpg");
    background-size: 1500px;
}
th{
    border: 1px solid #ddd;
    text-align: left;
    width: 480px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
    border-collapse: collapse;
}
td{
    border: 1px solid #ddd;
    text-align: left;
    width: 480px;
    border-collapse: collapse;
}
.pgbutton {
    padding: 15px 25px;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.pgbutton:hover {
    background-color: #7f807f;
}
.pgbutton:active {
    background-color: #4e4d4d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.form {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("train-trees-steam-locomotive-steam-wallpaper.jpg");
    background-size: 1500px;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.form-content input {
    border-radius: 15px;
    padding: 15px 25px;
    margin-bottom: 7px;
    font-size: medium;
}
.uppgbutton{
    padding: 15px 25px;
    border-radius: 15px;
    margin-top: 30px;
    background-color: #a6f581;
}
.uppgbutton:hover {
    background-color: #5fcb5f;
}
.uppgbutton:active {
    background-color: #57a733;
    transform: translateY(4px);
}