.navigation-menu {
    width: 100vw;
    height: 100vh;
    display:grid;
    align-items: center;
    justify-content: space-around;
    background-image: url("train-trees-steam-locomotive-steam-wallpaper.jpg");
    background-size: 1500px;
}
th{
    border: 1px solid #ddd;
    text-align: left;
    width: 480px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
    border-collapse: collapse;
}
td{
    border: 1px solid #ddd;
    text-align: left;
    width: 480px;
    border-collapse: collapse;
}
.pgbutton {
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.pgbutton:hover {
    background-color: #eff3ef;
}
.pgbutton:active {
    background-color: #7a7d7a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.form {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.form-content input {
    margin-bottom: 7px;
}